<% content_for :htmx_merge, "defaultSwapStyle" => "innerHTML" %>

<%= render "shared/title", text: "Designs" %>

<section class="bit-page page-designer">
  <header class="bit-header">
    <h1 class="label">
      Designs
      <%= render "shared/popovers/triggers/default", name: :overview, width: 20, height: 20 %>
    </h1>
  </header>

  <%= scope(:popover_default_content, name: :overview, label: "Overview").render do %>
    <p>Use the text area to design custom screens for your device using pure HTML/CSS. Changes are applied automatically as you make edits and saved as a screen which you can view via the <%= link_to "Screens", routes.path(:screens) %> page.</p>
  <% end %>

  <div class="bit-body">
    <figure class="device" hx-ext="sse" sse-connect="/preview/<%= name %>" sse-swap="preview">
      <%= render :loader %>
    </figure>

    <div class="bit-card">
      <%= form_for :template, routes.path(:designs), class: "bit-form" do |form| %>
        <%= form.hidden_field :name, value: name %>
        <%= form.hidden_field :label, value: label %>

        <%= form.text_area :content,
                           render(:welcome),
                           class: "source bit-editor",
                           autocomplete: :off,
                           data: {language: :liquid} %>

        <div class="form-actions">
          <%= form.submit "Save",
                          class: "bit-button-accept",
                          **HTMX[
                            post: routes.path(:designs),
                            trigger: "load, click, keyup[ctrlKey&&key=='s'] from:body",
                            swap: :none,
                            disabled_elt: "this"
                          ] %>
        </div>
      <% end %>
    </div>
  </div>
</section>
